{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block container %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for post in posts %}
            {% include('main/post_card.html.twig') %}
        {% endfor %}
    </div>
{% endblock %}