<div class="col">
    <div class="card">
        <img src="{{ asset('uploads/banners/' ~ post.bannerFilename) }}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">Added: {{ post.createdAt | date }}</p>
            <a href="#" class="btn btn-primary">Read more</a>
        </div>
    </div>
</div>